@font-face{
    font-family: font;
    src: url(./fonts/Walkway\ SemiBold.ttf);
}

body {
    font-family: font;
    font-weight: bolder;
    background-color: #5c67c7;
}

.header {
    background-color: #3734fc;
    border: thick solid #ff7d03;
}

#h-one {
    font-size:5rem;
    text-align: center;
    color: #ff7d03;
}

.navigation {
    text-align: center;
    color: orange;
    font-size: 4rem;
}

.navigation > a {
    text-decoration: underline solid #34b4fc;
    border: solid thin #ff7d03;
    color: #ff7d03
}

.navigation > a:visited {
    color: #ff7d03;
    text-decoration: underline solid #34b4fc;
}

.navigation > a:hover {
    color: #34b4fc;
    text-decoration: underline solid #ff7d03;
}

.navigation #home {
    
}

.navigation #shop {
    
}

.footer {
    background-color: #3734fc;
    border: thick solid #ff7d03;
    font-family: font;
}

#p-two {
    text-align: center;
    color: #ff7d03;
    font-size: 3rem;
}

#p-three {
    text-align: center;
    color: #ff7d03;
    font-size: 1.5rem;
}

#p-four {
    text-align: center;
    color: #ff7d03;
    font-size: 1.5rem;
}

#p-five {
    text-align: center;
    color: #ff7d03;
    font-size: 1.5rem;
}

#p-six {
    text-align: center;
    color: #ff7d03;
    font-size: 1.5rem;
}

#p-seven {
    text-align: center;
    color: #ff7d03;
    font-size: 1.5rem;
}

#p-eight {
    text-align: center;
    color: #ff7d03;
    font-size: 1.5rem;
}

#h1-h1 {
    text-align: center;
    font-size: 5rem;
    font-family: font;
    color: #ff7d03;
}

#h4-h4 {
    text-align: center;
    font-size: 4rem;
    font-family: font;
    color: #ff7d03;
}